Redirect 301 /nobody https://mugo.lnk.to/nobodyflajuss
Redirect 301 /dontstop https://mugo.lnk.to/DONTSTOPflajuss
Redirect 301 /remix https://www.youtube.com/watch?v=fyaslI1An0w

Redirect 301 /links links.html
Redirect 301 /ig https://www.instagram.com/flajuss
Redirect 301 /discord https://www.discord.gg/invite/fEcmsuYrR
